/* General */

body {
	font-family: 'Roboto', sans-serif;
	margin:0px auto;
}

/* Header Section */
.header {
	width: 100%;
}

.menu {
	display: flex;
	width: 96%;
	padding: 1% 2%;
	background-color: rgba(001, 182, 113, 0.5);
	z-index: 1000;
	color: white;
	overflow: hidden;
    align-items: center;
	position: fixed;
	top: 0;
}

.logo {
	display: inline-block;
	width: 10%;
	float: left;
}

.listmenudesktop {
	display: flex;
    margin-left: auto;
    align-items: center;
	width: 50%;
}

.listmenudesktop li {
	flex: auto;
	list-style-type: none;
}

.listmenumobile {
	display: none;
}

.banner {
	width: 100%;
	position: relative;
	top: 0;
}

.banner img {
	width: 100%;
	display: block;
}

.bannerdesktop {
	display: block;
}

.bannermobile {
	display: none;
}


.bannertext {
	display: flex;
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	width: 96%;
	padding: 2%;
	color: white;
	background-color: rgba(122,66,122,0.75);
	align-items: center;
}

.bannertexitems {
	display: inline-flex;
	width: 48%;
}

.buttonFB {
	color: white;
	background-color: #3b5998;
	padding: 1%;
	margin-left: 2%;
}

.buttonTWITTER {
	color: white;
	background-color: #1DA1F2;
	padding: 1%;
	margin-left: 2%;
}

.buttonDAFTAR {
	color: white;
	background-color: rgba(001, 182, 113, 1);;
	padding: 1%;
	margin-left: 2%;
}

@media screen and (max-width: 720px){
	
	.bannertext {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom:0;
		right: 0;
		left: 0;
		width: 96%;
		padding: 2%;
		color: white;
		background-color: rgba(122,66,122,0.75);
		align-items: center;
	}
	
	.bannerdesktop {
		display: none;
	}

	.bannermobile {
		display: block;
	}
	
	.bannertexitems {
		display: inline-flex;\
		flex-direction: row;
		width: 98%;
		margin: 2% 0;
	}
	
	.listmenudesktop {
		display: none;
	}

	.listmenumobile li {
		flex: auto;
		list-style-type: none;
	}

	.listmenumobile {
		display: flex;
		margin-left: auto;
		align-items: center;
	}
}
.list-inline-item {
	list-style:none;
	float:left;
}
	
.button-addon1 {
  color: #68f3f8;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
