/* General */

body {
	font-family: 'Roboto', sans-serif;
	margin:0px auto;
}


/* Header Section */
.header {
	width: 100%;
}

.menu {
	display: flex;
	width: 96%;
	padding: 1% 2%;
	background-color: rgba(001, 182, 113, 0.5);
	z-index: 1000;
	color: white;
	overflow: hidden;
    align-items: center;
	position: fixed;
	top: 0;
}

.menu a {
	text-decoration: none;
	color: white;
}

.logo {
	display: inline-block;
	width: 3%;
	float: left;
}

.logo img {
	width: 100%;
}

.listmenudesktop {
	display: flex;
    margin-left: auto;
    align-items: center;
	width: 50%;
}

.listmenudesktop li {
	flex: auto;
	list-style-type: none;
}

.listmenumobile {
	display: none;
}

.banner {
	width: 100%;
	position: relative;
	top: 0;
}

.banner img {
	width: 100%;
	display: block;
}

.bannerdesktop {
	display: block;
}

.bannermobile {
	display: none;
}


.bannertext {
	display: flex;
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	width: 96%;
	padding: 2%;
	color: white;
	background-color: rgba(122,66,122,0.75);
	align-items: center;
}

.bannertexitems {
	display: inline-flex;
	width: 48%;
}

.buttonFB {
	color: white;
	background-color: #3b5998;
	padding: 1%;
	margin-left: 2%;
	border-radius: 5px;
	border: 1px solid #3b5998;
}

.buttonFB:hover {
	box-shadow: 5px 10px rgba(59, 89, 152,0.5);
}

.buttonTWITTER {
	color: white;
	background-color: #1DA1F2;
	padding: 1%;
	margin-left: 2%;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
}

.buttonTWITTER:hover {
	box-shadow: 5px 10px rgba(29, 161, 242,0.5);
}

.buttonDAFTAR {
	color: white;
	background-color: rgba(001, 182, 113, 1);;
	padding: 1%;
	margin-left: 2%;
	border-radius: 5px;
	border: 1px solid #01b671;
}

.buttonDAFTAR:hover {
	box-shadow: 5px 10px rgba(001, 182, 113, 0.5);
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.lesson-wrapper {
        height: 500px;
        padding-bottom: 80px;
        background-color: beige;
        text-align: center;
    }

    .heading {
        padding-top: 60px;
        padding-bottom: 30px;
        color: lightslategray;
    }

    .heading h2 {
        font-weight: normal;
    }

    .lesson {
        float:left;
        width: 25%;
    }

    .lesson-icon {
        position: relative;
    }

    .lesson-icon p {
        position: absolute;
        top: 90px;
        width: 100%;
        color: white;
    }

    .txt-contents {
        width: 80%;
        display: inline-block;
        margin-top: 20px;
        font-size: 15px;
        color: #b3aeb5;
    }

.site-footer
{
  background-color:#26272b;
  padding:45px 2% 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}	
.footer{
  display:flex;
  flex: auto;
  width:100%;
  position:static;
}
.footer-1{
  flex: auto;
  line-height: 1;
  }
.footer-2{
  flex: auto;
  position:static;
}
.footer-3{
 flex: auto;
 position:static;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.2
}
.site-footer hr.small
{
  margin:10px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  /* line-height:1px; */
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  text-align: center;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:2px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width:991px) {
	
	.bannertext {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom:0;
		right: 0;
		left: 0;
		width: 96%;
		padding: 2%;
		color: white;
		background-color: rgba(122,66,122,0.75);
		align-items: center;
	}
	
	.bannerdesktop {
		display: none;
	}

	.bannermobile {
		display: block;
	}
	
	.bannertexitems {
		display: inline-flex;\
		flex-direction: row;
		width: 98%;
		margin: 2% 0;
	}
	
	.listmenudesktop {
		display: none;
	}

	.listmenumobile li {
		flex: auto;
		list-style-type: none;
	}

	.listmenumobile {
		display: flex;
		margin-left: auto;
		align-items: center;
	}
	
	.logo {
		display: inline-block;
		width: 10%;
		float: left;
	}
	.footer-1{
	  flex: auto;
	  width: 90%;
	  }
	.footer-2{
	  flex: auto;
	  position:static;
	  width: 90%;
	}
	.footer-3{
	 flex: auto;
	 position:static;
	 width: 90%;
	}
	.footer {
		flex-direction: column;
	}

  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

